

.contact
  padding-top: 430px

  img
    border-radius: 50%
    width: 200px
    height: 200px
    object-fit: cover


  li
    margin: 30px auto

    a
      color: black
      cursor: pointer

@media screen and (max-width: 900px)
  .contact
    padding-top: 0px
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center

    img
      width: 200px
      height: 200px
      margin: 16px auto

    li
      margin: 20px auto