

.contact
  margin-top: 470px

  img
    border-radius: 50%
    width: 300px
    height: 300px
    object-fit: cover


  li
    margin: 30px auto

    a
      color: black
      cursor: pointer

@media screen and (max-width: 900px)
  .contact
    margin-top: 70px

    img
      width: 260px
      height: 260px
      margin: 16px auto

    li
      margin: 20px auto