// *************************************
//
//  MAIN
//
// *************************************

@import "fonts"
@import "variables"
@import "animations"

// *************************************
// BASE
// *************************************

*, *:before, *:after
  box-sizing: border-box
  user-select: none

a
  text-decoration: none

ul, li
  list-style: none
  margin: 0
  padding: 0

html, body
  width: 100%
  height: 100%
  -webkit-tap-highlight-color: rgba(255,255,255,0)
  background: white

body
  margin: 0px
  padding: 0px
  font-family: $font-reg
  font-weight: 500
  color: $cl-main
  text-align: center

  overflow-y: scroll

p
  margin: 0

h1, h2, h3, h4
  margin: 0px


div[ng-view]
  position: relative
  width: 100%
  height: 100%


// *************************************
// IMPORT
// *************************************
@import "header"
@import "pictures"
@import "contact"


