<!doctype html>

<html lang="en" ng-app="app">




  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>Sophie Cheung Photography</title>
    <link rel="stylesheet" href="styles/main.css"/>
    <link href="images/icon.png" rel="icon" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  </head>



  <body ng-controller="AppCtrl">



    <header ng-class="{'hide': path != ''}">

      <div class="bg" ng-class="{'up': path != ''}"></div>

      <div class="title" ng-class="{'up': path != ''}" ng-click="goto('')">
        <h1>Sophie Cheung</h1>
        <h2>photography</h2>
      </div>

      <ul class="tags" ng-class="{'up': path != ''}">
        <li class="tag"
            ng-class="{'active': path == tag}"
            ng-repeat="tag in tags"
            ng-click="goto(tag)">
          <span ng-cloak>{{ tag }}</span>
        </li>
        <li class="tag sophie" ng-click="goto('contact')">
          <span>sophie</span>
        </li>
      </ul>

    </header>

    <div class="mobile-home-bar" ng-click="goto('')" ng-class="{'show': path != ''}">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div ng-view class="view-animate"></div>

    <script src="scripts/bundle.js"></script>

  </body>





</html>