<!doctype html>

<html lang="en" ng-app="app">




  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>Sophie Cheung Photography</title>
    <link rel="stylesheet" href="styles/main.css"/>
    <link href="images/icon.png" rel="icon" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  </head>



  <body ng-controller="AppCtrl">



    <header>

      <div class="bg" ng-class="{'up': path != '/'}"></div>

      <div class="title" ng-class="{'up': path != '/'}" ng-click="goto('')">
        <h1>Sophie Cheung</h1>
        <h2>photography {{ filter }}</h2>
      </div>

      <ul class="tags" ng-class="{'up': path != '/'}">
        <li class="tag"
            ng-class="{'active': path == tag}"
            ng-repeat="tag in tags"
            ng-cloak
            ng-click="goto(tag)">
          <span>{{ tag }}</span>
        </li>
        <li class="tag sophie" ng-click="goto('contact')">
          <span>sophie</span>
        </li>
      </ul>

    </header>

    <div ng-view class="view-animate"></div>

    <script src="scripts/bundle.js"></script>

  </body>





</html>